.place__title {
    width: 100%;
    font-size: 72px;
    line-height: 1.1;
    font-weight: 900;
    margin: 0 0 48px;
    max-height: 152px;
}

@media screen and (max-width: 984px){
    .place__title {
        font-size: 42px;
        width: 340px;
    }
}

@media screen and (max-width: 720px){
    .place__title {
        font-size: 32px;
        margin-left: 16px;
    }
}