@import url('./__image/photo-grid__image.css');

.photo-grid {
    min-width: calc(100% - 48px * 2);
    min-height: 671px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    grid-gap: 16px;
    margin: 0 48px 92px;
}

.photo-grid:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
 }
 
.photo-grid:nth-child(2) {
   grid-column: 2;
   grid-row: 1;
 }
 
.photo-grid:nth-child(3) {
   grid-column: 3;
   grid-row: 1;
 }
 
.photo-grid:nth-child(4) {
   grid-column: 4;
   grid-row: 1;
 }
 
.photo-grid:nth-child(5) {
   grid-column: 1;
   grid-row: 2;
 }

.photo-grid:nth-child(6) {
    grid-column: 2;
    grid-row: 2;
  }

.photo-grid:nth-child(7) {
    grid-column: 3;
    grid-row: 2;
  }

.photo-grid:nth-child(8) {
    grid-column: 4;
    grid-row: 2;
  }

.photo-grid:nth-child(9) {
    grid-column: 1;
    grid-row: 3;
  }

.photo-grid:nth-child(10) {
    grid-column: 2;
    grid-row: 3;
  }

.photo-grid:nth-child(11) {
    grid-column: 3;
    grid-row: 3;
  }

.photo-grid:nth-child(12) {
    grid-column: 4;
    grid-row: 3;
  }

@media screen and (max-width: 1140px){
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 14px;
        min-height: 942px;
    }

    .photo-grid:nth-child(4) {
        grid-column: 1;
        grid-row: 2;
      }
      
    .photo-grid:nth-child(5) {
        grid-column: 2;
        grid-row: 2;
      }
     
    .photo-grid:nth-child(6) {
         grid-column: 3;
         grid-row: 2;
       }
     
    .photo-grid:nth-child(7) {
         grid-column: 1;
         grid-row: 3;
       }
     
    .photo-grid:nth-child(8) {
         grid-column: 2;
         grid-row: 3;
       }
     
    .photo-grid:nth-child(9) {
         grid-column: 3;
         grid-row: 3;
       }
     
    .photo-grid:nth-child(10) {
         grid-column: 1;
         grid-row: 4;
       }
     
    .photo-grid:nth-child(11) {
         grid-column: 2;
         grid-row: 4;
       }
     
    .photo-grid:nth-child(12) {
         grid-column: 3;
         grid-row: 4;
       }
}

@media screen and (max-width: 984px){
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        margin: 0 24px 88px;
        min-height: 1664px;
    }

    .photo-grid:nth-child(3) {
        grid-column: 1;
        grid-row: 2;
      }
      
     .photo-grid:nth-child(4) {
        grid-column: 2;
        grid-row: 2;
      }
      
     .photo-grid:nth-child(5) {
        grid-column: 1;
        grid-row: 3;
      }
     
     .photo-grid:nth-child(6) {
         grid-column: 2;
         grid-row: 3;
       }
     
     .photo-grid:nth-child(7) {
         grid-column: 1;
         grid-row: 4;
       }
     
     .photo-grid:nth-child(8) {
         grid-column: 2;
         grid-row: 4;
       }
     
     .photo-grid:nth-child(9) {
         grid-column: 1;
         grid-row: 5;
       }
     
     .photo-grid:nth-child(10) {
         grid-column: 2;
         grid-row: 5;
       }
     
     .photo-grid:nth-child(11) {
         grid-column: 1;
         grid-row: 6;
       }
     
     .photo-grid:nth-child(12) {
         grid-column: 2;
         grid-row: 6;
       }
}

@media screen and (max-width: 720px){
    .photo-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
        margin: 0 16px 64px;
        grid-gap: 12px;
        min-height: 2724px;
    }

    .photo-grid:nth-child(2) {
        grid-column: 1;
        grid-row: 2;
      }
      
     .photo-grid:nth-child(3) {
        grid-column: 1;
        grid-row: 3;
      }
      
     .photo-grid:nth-child(4) {
        grid-column: 1;
        grid-row: 4;
      }
      
     .photo-grid:nth-child(5) {
        grid-column: 1;
        grid-row: 5;
      }
     
     .photo-grid:nth-child(6) {
         grid-column: 1;
         grid-row: 6;
       }
     
     .photo-grid:nth-child(7) {
         grid-column: 1;
         grid-row: 7;
       }
     
     .photo-grid:nth-child(8) {
         grid-column: 1;
         grid-row: 8;
       }
     
     .photo-grid:nth-child(9) {
         grid-column: 1;
         grid-row: 9;
       }
     
     .photo-grid:nth-child(10) {
         grid-column: 1;
         grid-row: 10;
       }
     
     .photo-grid:nth-child(11) {
         grid-column: 1;
         grid-row: 11;
       }
     
     .photo-grid:nth-child(12) {
         grid-column: 1;
         grid-row: 12;
       }
}

