.places {
    display: flex;
    flex-direction: column;
    width: 984px;
    flex-wrap: wrap;
    max-height: 3452px;
    margin: 0 148px 92px;
}

@media screen and (max-width: 1140px){
    .places {
        width: 928px;
        max-height: 3456px;
        margin: 0 48px 96px;
    }
}

@media screen and (max-width: 984px){
    .places {
        width: 720px;
        max-height: 3200px;
        margin: 0 24px 88px;
    }
}

@media screen and (max-width: 720px){
    .places {
        width: 320px;
        max-height: 6000px;
        margin: 0 0 64px;
    }
}