.photo-grid__container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

.photo-grid__container:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
 }
 
.photo-grid__container:nth-child(2) {
   grid-column: 2;
   grid-row: 1;
 }
 
.photo-grid__container:nth-child(3) {
   grid-column: 3;
   grid-row: 1;
 }
 
.photo-grid__container:nth-child(4) {
   grid-column: 4;
   grid-row: 1;
 }
 
.photo-grid__container:nth-child(5) {
   grid-column: 1;
   grid-row: 2;
 }

.photo-grid__container:nth-child(6) {
    grid-column: 2;
    grid-row: 2;
  }

.photo-grid__container:nth-child(7) {
    grid-column: 3;
    grid-row: 2;
  }

.photo-grid__container:nth-child(8) {
    grid-column: 4;
    grid-row: 2;
  }

.photo-grid__container:nth-child(9) {
    grid-column: 1;
    grid-row: 3;
  }

.photo-grid__container:nth-child(10) {
    grid-column: 2;
    grid-row: 3;
  }

.photo-grid__container:nth-child(11) {
    grid-column: 3;
    grid-row: 3;
  }

.photo-grid__container:nth-child(12) {
    grid-column: 4;
    grid-row: 3;
  }

@media screen and (max-width: 1140px){
    .photo-grid__container:nth-child(4) {
        grid-column: 1;
        grid-row: 2;
      }
      
    .photo-grid__container:nth-child(5) {
        grid-column: 2;
        grid-row: 2;
      }
     
    .photo-grid__container:nth-child(6) {
         grid-column: 3;
         grid-row: 2;
       }
     
    .photo-grid__container:nth-child(7) {
         grid-column: 1;
         grid-row: 3;
       }
     
    .photo-grid__container:nth-child(8) {
         grid-column: 2;
         grid-row: 3;
       }
     
    .photo-grid__container:nth-child(9) {
         grid-column: 3;
         grid-row: 3;
       }
     
    .photo-grid__container:nth-child(10) {
         grid-column: 1;
         grid-row: 4;
       }
     
    .photo-grid__container:nth-child(11) {
         grid-column: 2;
         grid-row: 4;
       }
     
    .photo-grid__container:nth-child(12) {
         grid-column: 3;
         grid-row: 4;
       }
}

@media screen and (max-width: 984px){
    .photo-grid__container:nth-child(3) {
        grid-column: 1;
        grid-row: 2;
      }
      
     .photo-grid__container:nth-child(4) {
        grid-column: 2;
        grid-row: 2;
      }
      
     .photo-grid__container:nth-child(5) {
        grid-column: 1;
        grid-row: 3;
      }
     
     .photo-grid__container:nth-child(6) {
         grid-column: 2;
         grid-row: 3;
       }
     
     .photo-grid__container:nth-child(7) {
         grid-column: 1;
         grid-row: 4;
       }
     
     .photo-grid__container:nth-child(8) {
         grid-column: 2;
         grid-row: 4;
       }
     
     .photo-grid__container:nth-child(9) {
         grid-column: 1;
         grid-row: 5;
       }
     
     .photo-grid__container:nth-child(10) {
         grid-column: 2;
         grid-row: 5;
       }
     
     .photo-grid__container:nth-child(11) {
         grid-column: 1;
         grid-row: 6;
       }
     
     .photo-grid__container:nth-child(12) {
         grid-column: 2;
         grid-row: 6;
       }
}

@media screen and (max-width: 720px){
    .photo-grid__container:nth-child(2) {
        grid-column: 1;
        grid-row: 2;
      }
      
     .photo-grid__container:nth-child(3) {
        grid-column: 1;
        grid-row: 3;
      }
      
     .photo-grid__container:nth-child(4) {
        grid-column: 1;
        grid-row: 4;
      }
      
     .photo-grid__container:nth-child(5) {
        grid-column: 1;
        grid-row: 5;
      }
     
     .photo-grid__container:nth-child(6) {
         grid-column: 1;
         grid-row: 6;
       }
     
     .photo-grid__container:nth-child(7) {
         grid-column: 1;
         grid-row: 7;
       }
     
     .photo-grid__container:nth-child(8) {
         grid-column: 1;
         grid-row: 8;
       }
     
     .photo-grid__container:nth-child(9) {
         grid-column: 1;
         grid-row: 9;
       }
     
     .photo-grid__container:nth-child(10) {
         grid-column: 1;
         grid-row: 10;
       }
     
     .photo-grid__container:nth-child(11) {
         grid-column: 1;
         grid-row: 11;
       }
     
     .photo-grid__container:nth-child(12) {
         grid-column: 1;
         grid-row: 12;
       }
}