.footer__links {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 18px;
}

.footer__links:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
 }
 
.footer__links:nth-child(2) {
   grid-column: 2;
   grid-row: 1;
 }
 
.footer__links:nth-child(3) {
   grid-column: 3;
   grid-row: 1;
}

@media screen and (max-width: 720px){
    .footer__links {
        grid-template-columns: auto;
        grid-gap: 32px;
    }

    .footer__links:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
     }
     
    .footer__links:nth-child(2) {
       grid-column: 1;
       grid-row: 2;
     }
     
    .footer__links:nth-child(3) {
       grid-column: 1;
       grid-row: 3;
    }    
}