.place__paragraph {
    margin: 0 0 24px;
    font-size: 18px;
    line-height: 167%;
    font-weight: normal;
    grid-column: 2;
}

.place__paragraph:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 984px){
    .place__paragraph {
        font-size: 16px;
    }
}

@media screen and (max-width: 720px){
    .place__paragraph {
        margin: 0 16px 24px;
        grid-column: 1;
    }
}