.lead__caption {
    width: 183px;
    height: 14px;
    margin-top: 8px;
    margin-right: auto;
    font-size: 10px;
    line-height: 1.4;
}

@media screen and (max-width: 984px){
    .lead__caption {
        margin-left: 24px;
    }
}

@media screen and (max-width: 720px){
    .lead__caption {
        margin-left: 16px;
    }
}