@import url('./__column/place__column.css');
@import url('./__title/place__title.css');
@import url('./__image/place__image.css');
@import url('./__url-heading/place__url-heading.css');
@import url('./__link/place__link.css');
@import url('./__website/place__website.css');
@import url('./__paragraph/place__paragraph.css');

.place {
    display: grid;
    column-gap: 40px;
    width: 100%;
    margin-bottom: 80px;
    max-height: 712px;
    grid-template-columns: auto auto;
}

.place:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1140px){
    .place {
        max-height: 728px;
        column-gap: 32px;
    }
}

@media screen and (max-width: 984px){
    .place {
        margin-bottom: 72px;
        column-gap: 28px;
    }
}

@media screen and (max-width: 720px){
    .place {
        max-height: 1117px;
        margin-bottom: 48px;
        grid-template-columns: 100%;
    }
}