.place__url-heading {
    font-size: 12px;
    line-height: 170%;
    font-weight: 500;
    letter-spacing: .2em;
    color: #aaa;
    max-width: 456px;
    max-height: 12px;
    margin: 0;
}

@media screen and (max-width: 984px){
    .place__url-heading {
        line-height: 1;
        font-weight: normal;
    }
}

