.section {
    max-width: calc(100% - 48px*2);
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: 984px){
    .section {
        max-width: calc(100% - 24px*2);
    }
}

@media screen and (max-width: 720px){
    .section {
        max-width: calc(100% - 16px*2);
    }
}